@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import "config";
@import "map";
@import "event-form";
@import "input";
@import "datepicker";

body {
    margin: 0;
    padding: 0;
    font: {
        family: $font_base;
        size: 16px;
    }
}